.muitograve{
    background-color: darkblue;
}
.grave {
    background-color: mediumblue;
}
.baixo{
    background-color: blue;
}
.ideal{
    background-color: lime;
}
.sobrepeso{
    background-color: yellow;
}
.obesidade1{
    background-color: red;
}
.obesidade2{
    background-color: firebrick;
}
.obesidade3{
    background-color: darkred;
}

.colorido:hover{
    background-color: rgba(211, 211, 211, 0.438);
}

th{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

table{
    max-width: 90%;
    overflow-x: hidden;
}

td{
    width: 5px;
    height: 5px;
}