.muitograve{
    background-color: darkblue;
}
.grave {
    background-color: mediumblue;
}
.baixo{
    background-color: blue;
}
.ideal{
    background-color: green;
}
.sobrepeso{
    background-color: yellow;
}
.obesidade1{
    background-color: red;
}
.obesidade2{
    background-color: firebrick;
}
.obesidade3{
    background-color: darkred;
}