.muitograve{
    background-color: darkblue;
}
.grave {
    background-color: mediumblue;
}
.baixo{
    background-color: blue;
}
.ideal{
    background-color: lime;
}
.sobrepeso{
    background-color: yellow;
}
.obesidade1{
    background-color: red;
}
.obesidade2{
    background-color: firebrick;
}
.obesidade3{
    background-color: darkred;
}

.colorido:hover{
    opacity: .3;
}

th{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

table{
    width: 100%;
    table-layout: fixed;
}

td{
    width: 1rem !important; 
    height: .5rem !important;
}

.coluna{
    padding-right: 10px;
}